.cen{
  position: fixed !important;
  bottom: 2px;
  z-index: 1;
  background-color: whitesmoke;
  width:100%
  

  
   
}
.form_controller{
  display: flex !important;
  flex-direction: row !important;
  
}
.img{
  width:100px;
  height:100px;
  
  
}
.img_div{
  
  margin-top: "125px";
  text-align: center;

}
.form_input{
  flex:1 ;
}

.form_icon{
flex:0;
}